{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Votre panier</h3>
        <div class="card-body">
            <div id="message"></div>
            {% if commande.totalQuantite > 0 %}
                <div id="result">
                    {% include '@AcMarcheMaintenanceShop/panier/_list_produits.html.twig' %}
                </div>
                {{ form_start(form, { 'attr': {'class': 'well'} }) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.prenom) }}
                        {{ form_row(form.lieu) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.commentaire) }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary mr-1" value="Envoyer la commande" name="submit">

                {{ form_end(form) }}
            {% else %}
                <p class="text-warning">Votre panier est vide</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var btnsquantite = document.querySelectorAll('.quantite-control');

        Array.prototype.forEach.call(btnsquantite, function (element, i) {
            element.addEventListener('focusout', () => {
                var produitCommandeId = element.dataset.commande;
                var quantite = document.querySelector("#commande_quantite_" + produitCommandeId).value;
                console.log(quantite);
                console.log(produitCommandeId);

                var data = {
                    id: produitCommandeId,
                    quantite: quantite
                };

                fetch("{{ path('acmaintenance_commande_update_quantite') }}", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(function (response) {
                    return response.text()
                    if (response.ok) {
                        //console.log(document.querySelector("#result"));
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    document.querySelector("#message").innerHTML = data;
                }).catch(function (error) {
                    document.querySelector("#message").innerHTML = error.toString();
                    console.warn('Something went wrong.', error);
                });

            })
        });

        var elements2 = document.querySelectorAll('.produit-control');

        Array.prototype.forEach.call(elements2, function (element, i) {
            element.addEventListener('click', () => {
                var produitCommandeId = element.dataset.produit;

                var data = {
                    id: produitCommandeId,
                };

                fetch("{{ path('acmaintenance_commande_delete') }}", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(function (response) {
                    return response.json()
                    if (response.ok) {
                        //console.log(document.querySelector("#result"));
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    document.querySelector("#result").innerHTML = data.message;
                }).catch(function (error) {
                    document.querySelector("#message").innerHTML = error.message;
                    console.warn('Something went wrong.', error);
                });

            })
        });

    </script>
{% endblock %}
