{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">Associés des produits à
            <a href="{{ path('acmaintenance_produit_show', { 'id': produit.id }) }}">
                {{ produit }}
            </a>
        </h3>
        <div class="card-body">
            <div class="alert alert-info">
                Rechercher plus rapidement en écrivant le nom
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <label for="produits-choice">Sélectionnez un produit:</label>
            <input type="text" required="required" list="produits-list" id="produits-choice" name="produits-choice"
                   class="form-control"/>

            <datalist id="produits-list">
                {% for produit in produits %}
                    <option value="{{ produit.nom }}">{{ produit.nom }}</option>
                {% endfor %}
            </datalist>

            <button class="btn btn-primary mr-1 mt-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
                Associer
            </button>
            {{ form_end(form) }}

            <hr/>
            {% include '@AcMarcheMaintenanceShop/produit_associate/_products_associated.html.twig' %}
            {% include '@AcMarcheMaintenanceShop/produit_associate/_dissociate.html.twig' %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.querySelector('.unlinkproduct').addEventListener('click', function (event) {
                let button = event.target;
                let associateId = button.dataset.associateid;
                let produitId = button.dataset.produitid;
                let relationToken = button.dataset.token;
                document.querySelector("#associateId").value = associateId;
                document.querySelector("#produitId").value = produitId;
                document.querySelector("#relationtoken").value = relationToken;
            }
        );
    </script>
{% endblock %}
