{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.nom) }}
{{ form_row(form.categorie) }}
<div class="row">

    <div class="col-6">
        {{ form_row(form.quantite) }}
    </div>
    <div class="col-6">
        {{ form_row(form.unite) }}
    </div>
</div>

{{ form_row(form.description) }}
{{ form_row(form.imageFile) }}
<button class="btn btn-primary mr-1 mb-2" type="submit"><i class="far fa-save" aria-hidden="true"></i>
    Sauvegarder
</button>
{{ form_end(form) }}
