{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}

    <div class="card">
        <h3 class="card-header">{{ produit }}</h3>

        <div class="card-body">
            {% include '@AcMarcheMaintenanceShop/produit/actions.html.twig' %}
            <br/>

            <table class="table table-bordered">
                <tr>
                    <th>Catégorie</th>
                    <td>{{ produit.categorie }}</td>
                </tr>
                <tr>
                    <th>Quantité</th>
                    <td>{{ produit.quantite }}</td>
                </tr>
                <tr>
                    <th>Unité</th>
                    <td>{{ produit.unite }}</td>
                </tr>
            </table>

            {% if produit.imageName %}
                <img src="{{ vich_uploader_asset(produit, 'imageFile')| imagine_filter('produit_thumb') }}"
                     alt="{{ produit.nom }}"/>
            {% endif %}

            <p class="card-text">{{ produit.description }}</p>
            {% include '@AcMarcheMaintenanceShop/produit/_produits_associated.html.twig' %}

            {% include '@AcMarcheMaintenanceShop/produit/delete.html.twig' %}

        </div>
    </div>

{% endblock %}
