<div class="card">
    <h5 class="card-header">{{ produit.nom }}
        {% if produit.description %}
            {{ produit.description }}
        {% endif %}
    </h5>
    <div class="card-body">
        {% if produit.imageName %}
            <div class="row">
                <div class="col-6">
                    <img src="{{ vich_uploader_asset(produit, 'imageFile')| imagine_filter('produit_thumb') }}"
                         alt="{{ produit.nom }}"/>
                </div>
                <div class="col-6">
                    {% include '@AcMarcheMaintenanceShop/commande/_form.html.twig' %}
                    <button type="button" name="commande[submit]" data-produit="{{ produit.id }}"
                            class="btn-primary btn boutonadd">
                        <i class="fas fa-plus"></i> Ajouter
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-6">
                    {% include '@AcMarcheMaintenanceShop/commande/_form.html.twig' %}
                </div>
                <div class="col-6">
                    <button type="button" name="commande[submit]" data-produit="{{ produit.id }}"
                            class="btn-outline-success btn-sm btn boutonadd">
                        <i class="fas fa-plus"></i> Ajouter
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
</div>
