{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Rechercher des produits</h3>
        <div class="card-body">

            {% include '@AcMarcheMaintenanceShop/search/produit.html.twig' with {'form': search_form } %}

            {% if search and produits | length == 0 %}
                <p class="text-warning">Aucun produit trouvé</p>
            {% endif %}

            {% if produits | length > 0 %}
                {{ form_start(form, { 'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(form) }}
                {% for produit in produits %}
                    <div class="row mb-2">
                        {% set col = '<div class="col-6 hidden"></div>' %}
                        {% if produit.associatedProducts | length > 0 %}
                            {% set col = '' %}
                        {% endif %}
                        <div class="col-6">
                            {% include '@AcMarcheMaintenanceShop/commande/_produit_line.html.twig' %}
                            {% include '@AcMarcheMaintenanceShop/commande/_result_add_panier.html.twig' %}
                        </div>
                        {% include '@AcMarcheMaintenanceShop/commande/_produits_associated.html.twig' %}
                        {{col|raw}}
                    </div>
                    <hr>
                {% endfor %}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var btnsadd = document.querySelectorAll('.boutonadd');

        Array.prototype.forEach.call(btnsadd, function (element, i) {
            element.addEventListener('click', () => {
                var produitId = element.dataset.produit;
                var quantite = document.querySelector("#commande_quantite_" + produitId).value;
                var data = {
                    produit: produitId,
                    quantite: quantite
                };

                fetch("{{ path('acmaintenance_commande_add') }}", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(function (response) {
                    return response.text()
                    if (response.ok) {
                        //console.log(document.querySelector("#result"));
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    document.querySelector("#result-" + produitId).innerHTML = data;
                }).catch(function (error) {
                    document.querySelector("#result-" + produitId).innerHTML = error.toString();
                    console.warn('Something went wrong.', error);
                });
            })
        });
    </script>
{% endblock %}
