{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ produit }} {% if produit.unite %} <strong>(<i>{{ produit.unite }}</i>)</strong> {% endif %}</h3>
        </div>
        <div class="card-body">

            <p class="card-text text-muted">{{ produit.description }}</p>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.quantite) }}

            <button type="submit" name="commande" class="btn-primary btn">
                <i class="fas fa-plus"></i> Ajouter
            </button>

            {{ form_end(form) }}

            {% include '@AcMarcheMaintenanceShop/produit/_produits_associated.html.twig' %}

        </div>
        <div class="card-footer">

        </div>
    </div>


{% endblock %}
