{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block scripts %}

{% endblock %}

{% block body %}
    <div class="page-header">
        <h3>Archive commande {{ commande.id }}</h3>
    </div>

    {% if commande.createdAt %}
        <h4 class="text-success">Commande crée le {{ commande.createdAt | format_date('full') }}</h4>
    {% endif %}

    <strong>Pour {{ commande.nom }} {{ commande.prenom }} à {{ commande.lieu }}</strong>
    <br/><br/>

    {{ commande.commentaire | nl2br }}
    <br/><br/>
    {{ commande.archivesProduits | raw }}

{% endblock %}

