{% set action = app.request.attributes.get("_route") %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a href="{{ path('acmaintenance_commande') }}" class="nav-link">
            <i class="fas fa-cart-plus"></i> Nouvelle commande</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('acmaintenance_panier') }}" class="nav-link">
            <i class="fas fa-shopping-bag"></i> Panier</a>
    </li>

    {% if is_granted('ROLE_MAINTENANCE_ADMIN') %}
        <li class="nav-item">
            <a href="{{ path('acmaintenance_produit') }}" class="nav-link">
                <i class="fas fa-search"></i> Gestion des produits
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Paramètres...
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item"
                       href="{{ path('acmaintenance_commande_archive') }}">Archive</a>
                </li>
                <li>
                    <a class="dropdown-item"
                       href="{{ path('acmaintenance_categorie') }}">Les catégories</a>
                </li>
                <li>
                    <a class="dropdown-item"
                       href="{{ path('commande_utilisateur') }}">Les utilisateurs</a>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>

<ul class="navbar-nav mb-2 mb-lg-0">
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
            <a href="{{ path('app_login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i>
                Se connecter</a>
        </li>
    {% else %}
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>
                Déconnexion</a>
        </li>
    {% endif %}
</ul>
