{% set action = app.request.attributes.get("_route") %}

<li class="nav-item">
    <a href="{{ path('acmaintenance_commande') }}" class="nav-link">
        <i class="fas fa-cart-plus"></i> Nouvelle commande
    </a>
</li>

<li class="nav-item">
    <a href="{{ path('acmaintenance_panier') }}" class="nav-link">
        <i class="fas fa-shopping-cart"></i> Panier
    </a>
</li>

{% if is_granted('ROLE_MAINTENANCE_ADMIN') %}
    <li class="nav-item">
    <a href="{{ path('acmaintenance_produit') }}" class="nav-link">
        <i class="fas fa-search"></i> Rechercher un produit
    </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Paramètres...</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('acmaintenance_produit_new') }}">Ajouter un produit</a>
            <a class="dropdown-item" href="{{ path('acmaintenance_commande_archive') }}">Archives commandes</a>
            <a class="dropdown-item" href="{{ path('acmaintenance_categorie') }}">Les catégories</a>
            <a class="dropdown-item" href="{{ path('commande_utilisateur') }}">Gestion des utilisateurs</a>
        </div>
    </li>
{% endif %}
