<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Cimetière - sépultures{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap --><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/print.css') }}" rel="stylesheet" media="print">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block scriptshead %}
    {% endblock %}
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block brand %}
                    <a class="navbar-brand" href="{{ path('bottin_category') }}" title="Accueil">
                        <span class="mdi mdi-home-modern"></span> Bottin</a>
                {% endblock %}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block menu_top %}
                        {% include 'menu.html.twig' %}
                    {% endblock %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <a href="{{ path('app_logout') }}"
                               title="A bientôt {{ app.user.username }}"><span
                                        class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- END MENU -->
    <div class="container">

        {% include '_flash_messages.html.twig' %}

        {% block notifications %}

        {% endblock %}

        {% block body %}

        {% endblock %}

    </div>
</div>

<div id="footer">
    <div class="container">
        {% block footer %}
            <p class="text-muted center-block">
                {% include 'signature.html.twig' %}
            </p>
        {% endblock %}
    </div>
</div>

{% block javascripts %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

{% block scripts %}

{% endblock %}
</body>
</html>