{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Trier les produits pour la catégorie {{ categorie }}</h3>
        <div class="card-body">
            <br/>
            <div class="alert alert-info">
                Cliquez sur un produit et maintenez le clic tout en clissant la souris pour changer l'ordre
            </div>
            <div id="success">

            </div>

            {% if categorie.produits | length > 0 %}
                <div class="" id="success"></div>

                <ul class="list-group" {{ stimulus_controller('sortable', {'updateUrl': path('acmaintenance_categorie_ajax_sort')}) }}
                    data-sortable-animation-value="150">
                    {% for produit in categorie.produits %}
                        <li
                                id="{{ produit.id }}"
                                data-produitid="{{ produit.id }}"
                                class="list-group-item"
                                style="cursor: move;">
                            <i class="fas fa-sort me-2"></i>{{ produit }}
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p class="text-warning">Aucun produit</p>
            {% endif %}

            <br/>
            <a href="{{ path('acmaintenance_categorie_show', { 'id': categorie.id }) }}" class="mt-2">
                <span class="glyphicon glyphicon-list"></span> Retour à la catégorie
            </a>
        </div>
    </div>
{% endblock %}
