{% extends '@AcMarcheMaintenanceShop/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Trier les produits pour la catégorie {{ categorie }}</h3>
        <div class="card-body">
            <br/>
            <div class="alert alert-info">
                Cliquez sur un produit et maintenez le clic tout en clissant la souris pour changer l'ordre
            </div>
            <div id="success">

            </div>
            {% if categorie.produits | length > 0 %}
                <ul class="list-group" id="sortable">
                    {% for produit in categorie.produits %}

                        <li id="produits-{{ produit.id }}" class="list-group-item"><span
                                    class="glyphicon glyphicon-sort"></span> {{ produit }}</li>

                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-warning">Aucun produit</p>
            {% endif %}

            <br/>
            <a href="{{ path('acmaintenance_categorie_show', { 'id': categorie.id }) }}" class="mt-2">
                <span class="glyphicon glyphicon-list"></span> Retour à la catégorie
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">

        $(document).ready(function () {
            $("#sortable").sortable({
                // limitons les déplacements sur l'axe des ordonnées, ce sera plus propre
                axis: 'y',
                update: function (event, ui) {
                    // Construit un tableau des ids des stories
                    serial = $(this).sortable('serialize');
                    // Appelle une action en ajax
                    $.ajax({
                        url: '{{ path('acmaintenance_categorie_trier', {'id' : categorie.id}) }}',
                        type: "post",
                        data: serial,
                        success: function (html) {
                            $('#success').append(html);
                            $('#success').fadeIn(500);
                            $('#success').fadeOut(2000);
                        },
                        error: function () {
                            alert("Oups le tri ne s'est pas enregistré");
                        }
                    })
                }
            });

            $("#sortable").disableSelection();
        });

    </script>
{% endblock %}
